version: "3.9"

services:
  backend:
    image: maarousamad/backend-task-manager:1.0
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - task-network

  frontend:
    image: maarousamad/frontend-task-manager:1.0
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - task-network

networks:
  task-network:
    driver: bridge
