services:
  backend:
    image: maarousamad/backend-task-manager:latest
    pull_policy: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    networks:
      - task-network
  frontend:
    image: maarousamad/frontend-task-manager:latest
    pull_policy: always
    ports:
      - "3000:80"
    environment:
      VITE_API_URL: ${VITE_API_URL}
    depends_on:
      - backend
    networks:
      - task-network
networks:
  task-network:
    driver: bridge


# services:
#   backend:
#     image: maarousamad/backend-task-manager:latest
#     pull_policy: always
#     container_name: backend1
#     ports:
#       - "8080:8080"
#     environment:
#       SPRING_PROFILES_ACTIVE: docker
#     networks:
#       - task-network

#   frontend:
#     image: maarousamad/frontend-task-manager:latest
#     pull_policy: always
#     container_name: frontend1
#     ports:
#       - "3000:80"
#     depends_on:
#       - backend
#     networks:
#       - task-network

# networks:
#   task-network:
#     driver: bridge
